<h1>freeCodeCamp Templates</h1>
<nav>
  <ul class="navbar d-f">
    <li class="nav-item">
      <a href="#components/tribute.html" target="#mainContainer" class="nav-link">Tribute</a>
    </li>
    <li class="nav-item">
      <a href="#components/survey-form.html" target="#mainContainer" class="nav-link">Survey Form</a>
    </li>
    <li class="nav-item">
      <a href="#components/product.html" target="#mainContainer" class="nav-link">Product</a>
    </li>
    <li class="nav-item">
      <a href="#components/documentation.html" target="#mainContainer" class="nav-link">Documentation</a>
    </li>
    <li class="nav-item">
      <a href="#components/portfolio.html" target="#mainContainer" class="nav-link">Portfolio</a>
    </li>
  </ul>
</nav>